* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F2E9E4;
    font-family: 'Yantramanav', sans-serif;
    color: #404040;
}

h1 {
    margin: 0;
    padding: 5vw;
}

h2 {
    text-align: center;
    padding: 5vw;
    margin: 0;
}

.banner {
    font-size: 5vw;
    background-color: #262626;
    color: #A6A6A6;
    text-align: center;
}

.nav-bar {
    background-color: #101010;
    display: flex;
    height: 6vw;
    font-size: 2.5vw;
    /* position: fixed; */
    justify-content: center;
    align-items: center;

}

.menu-button {
    color:whitesmoke;
    padding: 0px 30px 0px 30px;
    text-decoration: none;
}

.left-section {
    padding: 50px 20px 400px 20px;
    width: 30%;
    float: left;
    background-color: #DECBC6;
}

.left-section > div {
    text-align: center;
    font-size: 1.5vw;
}

.right-section {
    font-size: 5vw;
    text-align: center;
    margin-top: 5%;
    margin-left: 35%;
}

.profile-picture {
    border-radius: 50%;
    width: 100%;
    padding: 30px;
}

.icons {
    display: block;
    width: 30%;
    padding: 3.5vw 0.5vw 1.5vw 0.5vw;
    margin-left: auto;
    margin-right: auto;
}

#download-button {
    width: 15vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

#download-section {
    text-decoration: none;
}

#download-text {
    text-align: center;
    font-size: 2vw;
}

.links img {
    width: 15%;
    padding: 1vw;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#linkedin {
    width: 15.5vw;
    padding: 0.5vw;
    margin-top: 5%;
    margin-bottom: 5%;
}

#email {
    width: 15.5vw;
    padding: 0.6vw;
    margin-top: 5%;
}

#about-section {
    font-size: 2vw;
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 5%;
}

#subtitle {
    font-size: 1.5vw;
    margin-left: 35%;
    text-align: center;
}